*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('https://media.istockphoto.com/id/1247567791/vector/shopping-online-with-realistic-modern-smartphone-virtual-realistic-geometry-gifts-shopping.jpg?s=612x612&w=0&k=20&c=vjZm-IU7z3K_qN4luKcFMje4YXlSsiy10ILusXYCoz4=');
    background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(5, 5, 8);
    padding: 10px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(75, 72, 72);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(13, 12, 12);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 75%;
}
.market-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 16px;
    font-weight: 500;
    
}
.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.log-in span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}
.reg-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 20px;
}
.reg-form span{
    text-align: center;
}
input{
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    margin-top: 40px;
    height: 30px;
    width: 100px;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.3s;
}
.btn button:hover{
    color: rgb(240, 237, 237);
    background: rgb(40, 37, 37);
}